auth_enabled: false

server:
  http_listen_port: 3100
  log_level: info

target: all

ingester:
  lifecycler:
    ring:
      kvstore:
        store: inmemory
    final_sleep: 0s
  chunk_target_size: 1048576

storage_config:
  boltdb_shipper:
    active_index_directory: /loki/index
    cache_location: /loki/cache
    shared_store: filesystem
  filesystem:
    directory: /loki/chunks

schema_config:
  configs:
    - from: 2020-10-24
      store: boltdb-shipper
      object_store: filesystem
      schema: v11
      index:
        prefix: index_
        period: 24h

limits_config:
  enforce_metric_name: false
  max_streams_per_user: 0
  replication_factor: 1

compactor:
  working_directory: /loki/compactor
  shared_store: filesystem
