---
title: "高速レスポンスについて"
import CommandLayout from "./CommandLayout.astro";
---
<CommandLayout title="高速レスポンスについて">
	<p class="text-lg text-slate-300 mb-6 text-center">rectbotは最新技術で高速な応答を実現しています。特別なコマンドはありませんが、全ての操作が快適です。</p>
</CommandLayout>
