---
title: "フレンドコード管理コマンド"
---
<h1>フレンドコード管理コマンド</h1>
<p>フレンドコードを登録・管理するためのコマンド一覧と使い方を紹介します。</p>
<ul>
  <li><code>/friendcode add</code> フレンドコードを登録</li>
  <li><code>/friendcode list</code> 登録済みコードを表示</li>
  <li><code>/friendcode remove</code> コードを削除</li>
</ul>
