---
title: "ゲーム募集機能のコマンド"
---
<h1>ゲーム募集機能のコマンド</h1>
<p>ゲーム募集を作成・管理するためのコマンド一覧と使い方を紹介します。</p>
<ul>
  <li><code>/recruit</code> ゲーム募集を作成</li>
  <li><code>/recruit edit</code> 募集内容を編集</li>
  <li><code>/recruit close</code> 募集を終了</li>
</ul>
